[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pystan = "==2.19"
scikit-learn = "==0.24.1"
pmagpy = "*"
tornado = "*"
future = "*"
pandas = "*"
ipympl = "*"

[dev-packages]

[requires]
python_version = "3.8"
