[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pystan = "==2.19"
scikit-learn = "*"
pmagpy = "*"
voila = "*"
tornado = "*"
matplotlib = "*"
future = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
